@model G2.ML.Web.Models.SaleSearchResultVM

@helper RenderPager(int recordCount, int startIndex, int pageSize)
{
	<div class="panel-heading">
		<div style="display:inline-block;">
			<h3 class="panel-title">
				Due payments or payments will be due in comming 7 days
			</h3>
		</div>
		<div style="display:inline-block;text-align: right;">
			@if (startIndex > pageSize)
			{
				int _prvIndex = startIndex - pageSize;
				if (_prvIndex < 1)
				{
					_prvIndex = 1;
				}
				<button type="button" data-pager="1" data-si="@_prvIndex" data-ps="@pageSize" class="btn btn-info btn-xs">
					<
				</button>
			}
			@if (startIndex < recordCount)
			{
				int _nxtIndex = startIndex + pageSize;
				bool _renderNextBtn = true;
				if (recordCount < _nxtIndex)
				{
					_nxtIndex = recordCount - pageSize;
					_renderNextBtn = false;
				}
				if (_renderNextBtn)
				{
					<button type="button" data-pager="1" data-si="@_nxtIndex" data-ps="@pageSize" class="btn btn-info btn-xs">
						>
					</button>
				}
			}
		</div>
	</div>
}

<div class="panel panel-info" style="margin-top:5px;">
	@if (Model.SalesList != null && Model.SalesList.Count > 0)
	{
		@RenderPager(Model.RecordCount, Model.StartIndex, Model.PageSize)
		<div class="panel-body">
			<table class="table table-bordred table-striped">
				<thead>
					<tr>
						<th></th>
						<th>
							Ref No
						</th>
						<th>
							Sale Date
						</th>
						<th>
							Saller
						</th>
						<th>
							Buyer
						</th>
						<th>
							Total Wt
						</th>
						<th>
							Rejection Wt
						</th>
						<th>
							Selection Wt
						</th>
						<th>
							Unit Price
						</th>
						<th>
							Less (%)
						</th>
						<th>
							Net Sale Amount
						</th>
						<th>
							Due Date
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var _item in Model.SalesList)
					{
						<tr>
							<td>
								<div class="status-circle @HelperMethods.StatusCSSClass(_item.Status,_item.DueDate)"></div>
							</td>
							<td>
								<a href="javascript:void(0);" data-edit="1" data-saleID="@_item.SaleID">@_item.RefNo</a>
							</td>
							<td>
								@HelperMethods.FormatDateTime(_item.SaleDate)
							</td>
							<td>
								@_item.Saller
							</td>
							<td>
								@_item.Buyer
							</td>
							<td>
								@HelperMethods.FormatCurrency(_item.TotalWeight)
							</td>
							<td>
								@HelperMethods.FormatCurrency(_item.RejectionWt)
							</td>
							<td>
								@HelperMethods.FormatCurrency(_item.SelectionWt)
							</td>
							<td>
								@HelperMethods.FormatCurrency(_item.UnitPrice)
							</td>
							<td>
								@HelperMethods.FormatCurrency(_item.LessPer)
							</td>
							<td>
								@HelperMethods.FormatCurrency(_item.NetSaleAmount)
							</td>
							<td>
								@HelperMethods.FormatDateTime(_item.DueDate)
							</td>
							<td>
								<a href="#" data-toggle="popover">...</a>
								<div id="divOtherContent_@_item.SaleID" style="display:none">
									<b>Due Days :</b> @_item.DueDays <br />
									<b>Total Brokerage :</b> @_item.TotalBrokerage <br />
									<b>Total Payment :</b> @HelperMethods.FormatCurrency(_item.TotalPayAmount) <br />
									<b>Payment Date :</b> @HelperMethods.FormatDateTime(_item.PayDate) <br />
									<b>Status:</b> @_item.Status
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}
	else
	{
		<div class="panel-heading">
			<h3 class="panel-title">
				Due payments or payments will be due in comming 7 days
			</h3>
		</div>
		<div class="panel-body">
			<div class="empty-result">No records found.</div>
		</div>
	}
</div>