@model G2.ML.Web.Models.BuyerSearchVM

@{
	ViewBag.Title = "Buyer -> Search";
	ViewBag.IsDefaultModel = true;
}
@section scripts {
    <script type="text/javascript">
		var _buyerAddUrl = "/Buyer/Add/";
		var _buyerListUrl = "/Buyer/BuyerList";
		var _buyerDelUrl = "/Buyer/Delete";
		$(document).ready(function () {
			BuyerSearchInit();
		});
    </script>
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Search buyers</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Buyer", FormMethod.Post, new { @class = "form-horizontal", @id = "frmBuyerRearch" }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.BuyerCode, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.BuyerCode, new { @class = "form-control input-sm", @placeholder = "Buyer Code:", @id = "BuyerCode" })
                </div>
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm", @placeholder = "First Name:", @id = "FirstName" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-sm", @placeholder = "Last Name:", @id = "LastName" })
                </div>
                <div class="col-md-offset-2 col-md-4" style="text-align:center;">
                    <button id="btnSearch" type="button" class="btn btn-primary">
                        Search</button>
                    <button id="btnAdd" type="button" class="btn btn-primary">
                        Add</button>
                </div>
            </div>
        }
    </div>
</div>
<div id="divBuyerList">
    @Html.Partial("_BuyerList", new G2.ML.Web.Models.BuyerSeachResultVM(0))
</div>
