@model G2.ML.Web.Models.SaleSearchResultVM

@helper RenderPager(int recordCount, int startIndex, int pageSize)
{
if (recordCount <= pageSize)
{
	return;
}
	<div class="panel-heading" style="text-align: right;">
		@if (startIndex > pageSize)
		{
			int _prvIndex = startIndex - pageSize;
			if (_prvIndex < 1)
			{
				_prvIndex = 1;
			}
			<button type="button" data-pager="1" data-si="@_prvIndex" data-ps="@pageSize" class="btn btn-info btn-xs">
				<
			</button>
		}
		@if (startIndex < recordCount)
		{
			int _nxtIndex = startIndex + pageSize;
			if (recordCount < _nxtIndex)
			{
				_nxtIndex = recordCount - pageSize;
				return;
			}
			<button type="button" data-pager="1" data-si="@_nxtIndex" data-ps="@pageSize" class="btn btn-info btn-xs">
				>
			</button>
		}
	</div>
}
@if (Model.SalesList != null && Model.SalesList.Count > 0)
{
	<div class="panel panel-info">
		@RenderPager(Model.RecordCount, Model.StartIndex, Model.PageSize)
		<div class="panel-body">
			<table class="table table-bordred table-striped">
				<thead>
					<tr>
						<th>
							Ref No
						</th>
						<th>
							Sale Date
						</th>
						<th>
							Saller
						</th>
						<th>
							Buyer
						</th>
						<th>
							Total Weight
						</th>
						<th>
							Rejection (%)
						</th>
						<th>
							Selection Weight
						</th>
						<th>
							Unit Price
						</th>
						<th>
							Net Sale Amount
						</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var _item in Model.SalesList)
					{
						<tr>
							<td>
								<a href="javascript:void(0);" data-edit="1" data-saleID="@_item.SaleID">@_item.RefNo</a>
							</td>
							<td>
								@_item.SaleDate.ToString("dd-MM-yyyy")
							</td>
							<td>
								@_item.Saller
							</td>
							<td>
								@_item.Buyer
							</td>
							<td>
								@string.Format("{0:n2}", _item.TotalWeight)
							</td>
							<td>
								@string.Format("{0:n2}", _item.RejectionWt)
							</td>
							<td>
								@string.Format("{0:n2}", _item.SelectionWt)
							</td>
							<td>
								@string.Format("{0:n2}", _item.UnitPrice)
							</td>
							<td>
								@string.Format("{0:n2}", _item.NetSaleAmount)
							</td>
							<td>
								<a href="#" data-toggle="popover">...</a>
								<div id="divOtherContent_@_item.SaleID" style="display:none">
									<b>Due Days :</b> @_item.DueDays <br />
									<b>Total Brokerage :</b> @_item.TotalBrokerage <br />
									<b>Total Payment :</b> @string.Format("{0:n2}", _item.TotalPayAmount) <br />
									<b>Payment Date :</b> @(_item.PayDate.Year > 2000 ? _item.PayDate.ToString("dd-MM-yyyy") : "") <br />
									<b>Status:</b> @_item.Status
								</div>
							</td>
							<td>
								<button type="button" data-title="Are you sure you want to delete it?" data-toggle="confirmation" data-del="1" data-saleID="@_item.SaleID" class="btn btn-danger btn-xs">
									X
								</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}
else if(ViewBag.IsDefaultModel == null || !ViewBag.IsDefaultModel)
{
	<div class="panel panel-info">
		<div class="panel-body">
			<div class="empty-result">No records found.</div>
		</div>
	</div>
}
