@model G2.ML.Web.Models.SaleAddVM
@{
    ViewBag.Title = "Sale -> Add";

    var _isFirstReq = string.Empty;
    if (ViewData["IsFirstRequest"] != null)
    {
        _isFirstReq = "1";
    }
}
@section scripts{
    <script type="text/javascript">
		var _isFirstRequest = '@_isFirstReq';
		var _salesSearchUrl = "@Url.Action("Index","Sale")";
		$(document).ready(function () {
			SaleAddInit();
        });
    </script>
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Sales Details</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Add", "Sale", FormMethod.Post, new { @class = "form-horizontal", @id="frmAddSale" }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.SaleDate, new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.SaleDate, new { @class = "form-control input-sm date-picker", @placeholder = "Sale Date:", @id = "StartDate" })
                    @Html.ValidationMessageFor(model => model.SaleDate)
                </div>
                @Html.LabelFor(model => model.SallerID, new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.SallerID, Model.SallerList, string.Empty, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.SallerID)
                </div>
                @Html.LabelFor(model => model.BuyerID, new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.BuyerID, Model.BuyerList, string.Empty, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.BuyerID)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TotalWeight, new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.TotalWeight, new { @class = "form-control input-sm", @placeholder = "Total Weight:", @id = "TotalWeight" })
                    @Html.ValidationMessageFor(model => model.TotalWeight)
                </div>
                @Html.LabelFor(model => model.RejectionWeight, new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.RejectionWeight, new { @class = "form-control input-sm", @placeholder = "Rejection Weight:", @id = "RejectionWeight" })
                    @Html.ValidationMessageFor(model => model.RejectionWeight)
                </div>
                @Html.LabelFor(model => model.SelectionWeight, new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.SelectionWeight, new { @class = "form-control input-sm", @id = "SelectionWeight", @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UnitPrice, new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.UnitPrice, new { @class = "form-control  input-sm", @placeholder = "Unit Price:", @id = "UnitPrice" })
                    @Html.ValidationMessageFor(model => model.UnitPrice)
                </div>
				@Html.LabelFor(model => model.LessPer, new { @class = "control-label col-md-1" })
				<div class="col-md-3">
					@Html.TextBoxFor(model => model.LessPer, new { @class = "form-control  input-sm", @id = "LessPer", @placeholder = "Less %:" })
					@Html.ValidationMessageFor(model => model.LessPer)
				</div>
                @Html.LabelFor(model => model.NetSaleAmount, new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.NetSaleAmount, new { @class = "form-control  input-sm", @id = "NetSaleAmount", @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
				@Html.LabelFor(model => model.DueDays, new { @class = "control-label col-md-1" })
				<div class="col-md-3">
					@Html.TextBoxFor(model => model.DueDays, new { @class = "form-control input-sm", @id = "DueDays", @placeholder = "Due Days:" })
					@Html.ValidationMessageFor(model => model.DueDays)
				</div>
                <div class="col-md-8" style="text-align:center;">
                    <button id="btnSave" type="submit" class="btn btn-primary">
                        Save</button>

					<button id="btnSearch" type="button" class="btn btn-primary">
						Search
					</button>
                </div>
            </div>
        }
    </div>
</div>
