@model G2.ML.Web.Models.BuyerVM
@{
    ViewBag.Title = "Add";
}
@section scripts{
    <script type="text/javascript">
		var _buyerSearchUrl = "@Url.Action("Index","Buyer")";
		$(document).ready(function () {
			BuyerAddInit();
        });
    </script>
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Buyer Details</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Add", "Buyer", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(model => model.BuyerID)
			@Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(model => model.BuyerCode, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.BuyerCode, new { @class = "form-control  input-sm", @placeholder = "Buyer Code:", @id = "BuyerCode" })
                    @Html.ValidationMessageFor(model => model.BuyerCode)
                </div>
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control  input-sm", @placeholder = "First Name:", @id = "FirstName" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control  input-sm", @placeholder = "Last Name:", @id = "LastName" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
                @Html.LabelFor(model => model.PhoneNo, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control  input-sm", @placeholder = "Phono No:", @id = "PhonoNo" })
                    @Html.ValidationMessageFor(model => model.PhoneNo)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MobileNo, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control  input-sm", @placeholder = "Mobile No:", @id = "MobileNo" })
                    @Html.ValidationMessageFor(model => model.MobileNo)
                </div>
                @Html.LabelFor(model => model.SelectedBuyerTypes, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @if (Model.BuyerTypeList != null)
                    {
                        foreach (var _item in Model.BuyerTypeList)
                        {
                        <label class="checkbox-inline">
                            @if (Model.SelectedBuyerTypes.Contains(_item.BuyerTypeID.ToString()))
                            {
                                <input name="SelectedBuyerTypes" type="checkbox" checked="checked" value="@_item.BuyerTypeID">
                            }
                            else
                            {
                                <input name="SelectedBuyerTypes" type="checkbox" value="@_item.BuyerTypeID">
                            }
                            @_item.BuyerTypeName
                        </label>
                        }
                    }
                    @Html.ValidationMessageFor(model => model.SelectedBuyerTypes)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12" style="text-align:center;">
                    <button id="btnSave" type="submit" class="btn btn-primary">
                        Save</button>
					<button id="btnSearch" type="button" class="btn btn-primary">
						Search
					</button>
                </div>
            </div>
        }
    </div>
</div>
