@model List<G2.ML.Web.Models.LoanCalcInterestVM>

@{
	float _totalIntPaid = 0;
	float _totalCalcInt = 0;
	float _intToBePaid = 0;
	if (Model != null && Model.Count > 0) {
		_totalIntPaid = Model[0].TotalIntPaid;
		_totalCalcInt = Model.Sum(m => m.CalcIntAmount);
		_intToBePaid = _totalCalcInt - _totalIntPaid;
	}

	string _intAsOnDate = HelperMethods.FormatDateTime(DateTime.Now).ToHtmlString();
	if (ViewBag.IntAsOnDate != null)
	{
		_intAsOnDate = HelperMethods.FormatDateTime(ViewBag.IntAsOnDate).ToHtmlString();
	}
}
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">
			Interest calculation: 
			<em style="font-weight:bold;"> Outstanding (@HelperMethods.FormatCurrency(_intToBePaid)) = Calculated (@HelperMethods.FormatCurrency(_totalCalcInt)) - Paid (@HelperMethods.FormatCurrency(_totalIntPaid)) </em>
			&nbsp;&nbsp;&nbsp;As on : @Html.TextBox("interestAsOn", _intAsOnDate, new { @class = "form-inline input-sm date-picker fixedWidth" })
			&nbsp; <button id="btnCalcInt" type="button" class="btn btn-info btn-xs">Calculate Interest</button>
		</h3>
	</div>
	@if (Model != null && Model.Count > 0)
	{
		<table class="table">
			<thead>
				<tr>
					<th>
						Pay Date
					</th>
					<th class="amt">
						Pay Amount
					</th>
					<th class="amt">
						Daily Int Rate
					</th>
					<th class="amt">
						Int For Days
					</th>
					<th class="amt">
						Int On Amount
					</th>
					<th class="amt">
						Calculated Interest
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var _item in Model)
				{
					<tr>
						<td>
							@if (_item.PayDate.HasValue)
							{
								<text>@HelperMethods.FormatDateTime(_item.PayDate.Value)</text>
							}
						</td>
						<td class="amt">
							@if (_item.PayAmount.HasValue)
							{
								<text>@HelperMethods.FormatCurrency(_item.PayAmount.Value)</text>
							}
						</td>
						<td class="amt">
							@HelperMethods.FormatCurrency(_item.DailyRate, 4)
						</td>
						<td class="amt">
							@_item.IntForDays
						</td>
						<td class="amt">
							@HelperMethods.FormatCurrency(_item.IntOnAmount)
						</td>
						<td class="amt">
							@HelperMethods.FormatCurrency(_item.CalcIntAmount)
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
</div>
