@model G2.ML.Web.Models.LoanPaymentVM
@{
    float _princPaid = 0;
	float _interPaid = 0;
	float _princAmount = float.Parse(TempData.Peek("PrincipalAmount").ToString());
}

<script type="text/javascript">
	var _paymentDetails = [];	
</script>
@if (Model.PaymentList != null && Model.PaymentList.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Pay Date
                </th>
                <th class="amt">
                    Pay Amount
                </th>
                <th>
                    Pay Type
                </th>
                <th>
                    Comments
                </th>
				<th class="amt">
					Outstanding Principal
				</th>
				<th class="amt">
					Interest Paid
				</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var _item in Model.PaymentList)
			{
				if (_item.PayType == 1)
				{
					_princPaid += _item.PayAmount;
				}
				else if (_item.PayType == 2)
				{
					_interPaid += _item.PayAmount;
				}

                <tr>
                    <td>@HelperMethods.FormatDateTime(_item.PayDate)</td>
                    <td class="amt">@HelperMethods.FormatCurrency(_item.PayAmount)</td>
                    <td>@_item.PayTypeName</td>
					<td>@_item.PayComments</td>
					<td class="amt">
						@if (_item.PayType == 1)
						{
							_princAmount -= _item.PayAmount;
						}
						@HelperMethods.FormatCurrency(_princAmount)
					</td>
					<td class="amt">
						@HelperMethods.FormatCurrency(_interPaid)
					</td>
					<td class="amt">
						<button type="button" data-edit="1" data-payID="@_item.LoanPayID" class="btn btn-primary btn-xs">
							Edit
						</button>
						<button type="button" data-del="1" data-payID="@_item.LoanPayID" class="btn btn-danger btn-xs">
							X
						</button>
					</td>
                </tr>
				<script type="text/javascript">
					_paymentDetails.push({ LoanPayID: @_item.LoanPayID, PayDate: '@_item.PayDate', PayType: '@_item.PayType', PayComments: '@_item.PayComments', PayAmount: '@_item.PayAmount' });
				</script>
			}
        </tbody>
    </table>	
}
<script type="text/javascript">
	var _princPaid = parseFloat('@_princPaid');
	var _interPaid = parseFloat('@_interPaid');
</script>
