@model G2.ML.Web.Models.LoanAddVM
@{
	ViewBag.Title = "Update";
	TempData["PrincipalAmount"] = Model.PrincipalAmount;
}
@section scripts{
	<script type="text/javascript">
		var _payDelUrl = "@Url.Action("DeletePayment", "Loan")";
		var _payAddUrl = "@Url.Action("Payment", "Loan")";
		var _loanCloseUrl = "@Url.Action("CloseLoan", "Loan")";
		var _loanSearchUrl = "@Url.Action("Index","Loan")";
		var _calcIntUrl = "@Url.Action("CalcInt","Loan")";
        $(document).ready(function () {
			LoanUpdateInit();
        });
	</script>
}

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Loan Details
		</h3>
	</div>
	<div class="panel-body">
		@using (Html.BeginForm("Update", "Loan", FormMethod.Post, new { @class = "form-horizontal", @id = "frmUpdLoan" }))
		{
			@Html.HiddenFor(model => model.LoanID)
			@Html.HiddenFor(model => model.Status)
			<div class="form-group">
				@Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-1" })
				<div class="col-md-3">
					@Html.TextBoxFor(model => model.StartDate, new { @class = "form-control input-sm date-picker", @placeholder = "Start Date:", @id = "StartDate" })
					@Html.ValidationMessageFor(model => model.StartDate)
				</div>
				@Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-1" })
				<div class="col-md-3">
					@Html.TextBoxFor(model => model.EndDate, new { @class = "form-control input-sm date-picker", @placeholder = "End Date:", @id = "EndDate" })
					@Html.ValidationMessageFor(model => model.EndDate)
				</div>
				@Html.LabelFor(model => model.BorrowerID, new { @class = "control-label col-md-1" })
				<div class="col-md-3">
					@Html.DropDownListFor(model => model.BorrowerID, Model.BorrowerList, string.Empty, new { @class = "form-control input-sm" })
					@Html.ValidationMessageFor(model => model.BorrowerID)
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.PrincipalAmount, new { @class = "control-label col-md-1" })
				<div class="col-md-3">
					@Html.TextBoxFor(model => model.PrincipalAmount, new { @class = "form-control input-sm", @placeholder = "Principal Amount:", @id = "PrincipalAmount" })
					@Html.ValidationMessageFor(model => model.PrincipalAmount)
				</div>
				@Html.LabelFor(model => model.MonthlyInterest, new { @class = "control-label col-md-1" })
				<div class="col-md-3">
					@Html.TextBoxFor(model => model.MonthlyInterest, new { @class = "form-control input-sm", @placeholder = "Monthly Interest Rate:", @id = "MonthlyInterest" })
					@Html.ValidationMessageFor(model => model.MonthlyInterest)
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-1" })
				<div class="col-md-7">
					@Html.TextAreaFor(model => model.Comments, new { @class = "form-control input-sm", @placeholder = "Comments:", @id = "Comments" })
					@Html.ValidationMessageFor(model => model.Comments)
				</div>
				<div class="col-md-4" style="text-align:center;">
					<button id="btnUpdate" type="submit" class="btn btn-primary">
						Update
					</button>
					<button id="btnClose" type="button" class="btn btn-primary" disabled="disabled">
						Close
					</button>
					<button id="btnSearch" type="button" class="btn btn-primary">
						Search
					</button>
					<button id="btnPrint" type="button" class="btn btn-primary">
						Print
					</button>
				</div>
			</div>
		}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		@{ Html.RenderAction("Payment", new { LoanID = Model.LoanID }); }
	</div>
</div>
<div class="row">
	<div class="col-md-12" id="divCalcInt">
		@{ Html.RenderAction("CalcInt", new { LoanID = Model.LoanID }); }
	</div>
</div>